#top-header {
    display: flex;
    justify-content: right;
    padding: 10px 20px;
}

#top-header ul {
    display: flex;
}
#top-header li {
    margin-right: 15px;
}
#top-header a, .cart a, .logo img{
    color: #fff;
    text-decoration: none;
}

header {
    background: #333;
    color: #fff;
    align-items: center;
    
}

#header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

body,h1,h2,h3,h4,p,ul,li {
    margin: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
.product img {
    max-width: 50%;
    height: auto;
}
.products {/*form trang sản phẩm*/
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 10px;
    min-height: 250px;
    /* background-color: #333; */
}
.product {/*form từng sản phẩm*/
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 200px;
    height: 250px;
}
.search-bar input[type="text"] {/*thanh tìm kiếm*/
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.search-bar button {
    padding: 10px;
    background: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button {
    position: relative;
    padding: 10px;
    background: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #ff4500; 
}
nav ul {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    background: #444;
}
nav a,li{
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}
footer {
    text-align: center;
    background: #333;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    min-height: 100px;
}
section {
    padding: 20px;
    background: #fff;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}